GridBackground{
 --grid-background-color:rgb(90,90,90);
 --line-color:rgba(80,80,80,1);
 --thick-line-color:rgba(40,40,40,0.6);
 --spacing:10;
 --thick-lines:10;
}

.unity-object-field__object{
 width:100px;
}

.unity-property-field__label{
 min-width:100px;
}

.unity-property-field__input{
 min-width:100px;
}